* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #222;
}
.card {
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  background: linear-gradient(135deg, #0be26c, #3520c0);
    color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  text-align: center;
  /* padding on top and bottom 35px → padding on left and right */
  padding: 45px 35px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search button {
  background: white;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search button img {
  width: 20px;
  height: 20px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
margin-top: 50px;
}
.col{
display: flex;
align-items: center;
text-align: left;
}
.col img{
width: 40px;
margin-right: 10px;
}
.humidity,.wind{
font-size: 28px;
margin-top: -6px;
}
.weather{
  display: none;
}